<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345183634297-muc5t2qp7rq1sp9n2rpkcqe6gqjvr89d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345183634297-muc5t2qp7rq1sp9n2rpkcqe6gqjvr89d</string>
	<key>API_KEY</key>
	<string>AIzaSyCupErRReAbcWWeyOzb6jjhyhxHo80b3b8</string>
	<key>GCM_SENDER_ID</key>
	<string>345183634297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caflutterdemo</string>
	<key>PROJECT_ID</key>
	<string>caflutterdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>caflutterdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345183634297:ios:d32ff5f51fac69c26e65a8</string>
</dict>
</plist>